@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth; /* 버튼누르면 바로 이동하는게 아니라 스무스하게 피피티 슬라이드처럼 넘어가는거 */
}

body .body1 {
  min-height: 100vh; /* vh는 vertical height으로 뷰포트의 1/100 따라서 100vh는 뷰포트 전체 높이 */
  overflow: hidden; /* 오른쪽으로 스크롤 넘치는거 숨기는 기능인듯 */
  background: linear-gradient(#2b1044, #7597de);
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between; /* 로고와 리스트 중간에 space 삽입 */
  align-items: center; /* 높이 가운데로 정렬 */
  z-index: 10000; /* 높으면 위로 올라오나봄 */
}

header .logo {
  color: #fff;
  font-weight: 700;
  text-decoration: none; /* 장식선(윗줄, 밑줄) 설정 */
  font-size: 2em;
  text-transform: uppercase; /* 모든 글자를 대문자로 변경 */
  letter-spacing: 0.8px; /* 글자 간격 */
}

header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  list-style: none; /* 못생긴 리스트의 점들 없애줌 */
  margin-left: 20px; /* 리스트의 각 요소들 왼쪽 간격 20px씩 둔다 */
}

header ul li a {
  /* 하이퍼링크 css */
  text-decoration: none;
  padding: 6px 15px;
  color: #fff;
  border-radius: 20px;
}

header ul li a:hover,
header ul li a.active {
  /* 사용자의 커서가 요소에 올라가 있을 때 적용 */
  /* 첫화면은 home이 active한 상태, 나머지는 내가 알아서.. */
  background: #fff;
  color: #2b1044;
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 100px; /* 전체 화면 크기의 너비, 높이에 100px씩 패딩하는 것이므로 스크롤바가 생긴다 */
  display: flex;
  justify-content: center;
  align-items: center;
}

section::before {
  /* 요소 앞을 장식할 때 사용 */
  content: " "; /* 얘가 박스 역할을 하넹 */
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 200px;
  /* background: linear-gradient(to top, #1c0522, transparent); */
  background: linear-gradient(to top, #2e2c58, transparent);
  z-index: 1000;
}

section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* 이 width 100%, height 100% 크기의 오브젝트에 img를 덮어씌운다는 뜻 */
  pointer-events: none;
}

section img#moon {
  mix-blend-mode: screen;
  /* mix-blend-mode: 요소의 컨텐츠가 자신의 배경 및 부모와 어떻게 혼합되어야 하는지 지정; */
}

section img#mountains_front {
  z-index: 10;
}

#text {
  position: absolute;
  right: 100px;
  color: #fff;
  white-space: nowrap;
  /* white-space는 공백 문자 처리하는 법 지정, nowrap: 줄바꿈없이 쭉 */
  font-size: 8.5vw;
  letter-spacing: -5px;
  z-index: 9;
}

#btn {
  text-decoration: none;
  display: inline-block;
  /* inline : 요소들이 줄바꿈없이 나란히 배치
    block : 혼자 한 줄 차지, 매번 줄바꿈한다는 뜻
    inline-block : 기본적으로 inline이지만 width, height, margin, padding 등 속성 지정 가능 */
  padding: 8px 30px;
  border-radius: 45px;
  background: #fff;
  color: #2b1044;
  font-size: 1.5em;
  z-index: 9;
  transform: translateY(150px);
}

.sec {
  position: relative;
  padding: 100px;
  /* background: #1c0522; */
  background: #2e2c58;
  z-index: 10;
}

.sec h2 {
  font-size: 3.5em;
  color: #fff;
  margin-top: 50px;
  margin-bottom: 50px;
}

.sec p {
  font-size: 1em;
  color: #fff;
}

/* search css */

body .body2 {
  display: flex;
  /* justify-content: center;
  align-items: center; */
  /* min-height: 100vh; */
  background: #2e2c58;
}

.search {
  position: relative;
  left: 12%;
  margin-top: 5%;
  width: 3.7vw;
  height: 7.3vh;
  background: #fff;
  border-radius: 60px;
  transition: 0.5s; /* 애니메이션 속도 조절 */
  box-shadow: 0 0 0 5px #ffffff18;
  overflow: hidden;
}

.search.active {
  width: 50%;
}

.search .icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 3.9vw;
  height: 7.8vh;
  background: #fff;
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  cursor: pointer;
}

.search .icon::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border: 3px solid #2e2c58;
  border-radius: 50%;
  transform: translate(-4px, -4px);
}

.search .icon::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 12px;
  background: #2e2c58;
  transform: translate(6px, 6px) rotate(315deg);
}

.search .input {
  position: relative;
  width: 40%;
  height: 100%;
  left: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search .input input {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding: 10px 0;
}

.clear {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  right: 15px;
  background: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clear::before {
  position: absolute;
  content: "";
  width: 1px;
  height: 15px;
  background: #999;
  transform: rotate(45deg);
}

.clear::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 15px;
  background: #999;
  transform: rotate(135deg);
}

.keyword {
  display: none;
}

.keyword.active {
  position: relative;
  display: flex;
  left: -37%;
  margin-top: 10%;
}

.keyword li {
  font-size: 13px;
  font-weight: 100;
  color: rgba(255, 255, 255, 0.699);
  list-style: none; /* 못생긴 리스트의 점들 없애줌 */
  margin-left: 22px;
}

.keyword li a {
  /* 하이퍼링크 css */
  text-decoration: none;
  color: rgba(255, 255, 255, 0.699);
}

.keyword li a:hover {
  /* 하이퍼링크 css */
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.body3 {
  background: #2e2c58;
}

.body3 h2 {
  position: absolute;
  font-size: 2.2em;
  color: #fff;
  margin-top: 12vh;
  left: 12%;
}

.body3 .contest {
  margin-left: 12%;
  padding-bottom: 5%;
  width: 20%;
  display: flex;
  background: #2e2c58;
}

.body3 .contest .contest_img {
  position: relative;
  margin-top: 21vh;
  margin-right: 2vw;
  border-radius: 10px;
  width: 13.5vw;
  height: 25vh;
  /* background: #fff; */
}

.body3 .contest .contest-box .contest-title {
  padding-right: 10%;
  /* text-align: center; */
  color: #fff;
  margin-top: 3%;
  margin-left: 1%;
  font-size: 90%;
}

.body3 .contest .contest-box .contest-sub {
  /* position: absolute;
  top: 172%; */
  padding-right: 10%;
  color: rgba(255, 255, 255, 0.705);
  margin-top: 5%;
  margin-left: 0.1%;
  font-size: 12px;
  font-weight: 100;
}

/* .contest .contest-box .contest-sub-rct {
  position: absolute;
  top: 172%; 
  padding-right: 10%;
  color: rgba(255, 255, 255, 0.705);
  margin-top: 5%;
  margin-left: 0.1%;
  font-size: 12px;
  font-weight: 100;
} */

.body3 .contest .contest-box .interest-zone {
  padding-right: 10%;
  color: rgba(255, 255, 255, 0.705);
  margin-top: 3%;
  margin-left: 0.1%;
  font-size: 14px;
  font-weight: 100;
}

.body3 .contest .contest-box .heart i {
  color: rgba(248, 51, 51, 0.705);
  margin-right: 3%;
}

.body3 .contest .contest-box .eye i {
  color: rgb(255, 255, 255);
  margin-left: 8%;
  margin-right: 4%;
}

.body4 {
  display: flex;
  justify-content: flex-end; /* 오른쪽 정렬 */
  align-items: center;
  min-height: 60vh;
  flex-direction: column;
  background: #2e2c58;
}

footer {
  position: relative;
  width: 100%;
  height: auto;
  padding: 3% 5%;
  background: #18172b;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; /* 요소의 총 너비가 부모의 너비보다 클 때 다음 줄에 이어 나열 */
}

footer .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}

footer .container .sect {
  margin-right: 3%;
}

footer .container .sect.aboutus {
  width: 30%;
}

footer .container h2 {
  position: relative;
  color: #fff;
  font-weight: 500;
  margin-bottom: 4%;
}

footer .container .sect.aboutus p {
  font-size: 15px;
  color: #999;
}

.sci {
  margin-top: 3%;
  display: flex;
}

.sci li {
  list-style: none;
}

.sci li a {
  display: inline-block;
  width: 1.5vw;
  height: 3vh;
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.5vw;
  text-decoration: none;
  border-radius: 4px;
}

.sci li a:hover {
  background: #cececed0;
}

.sci li a .fa {
  color: #fff;
  font-size: 15px;
}

.quickLinks {
  position: relative;
  width: 15%;
  font-size: 15px;
}

.quickLinks ul {
  margin-top: 8%;
}

.quickLinks ul li {
  margin-top: 3%;
  list-style: none;
}

.quickLinks ul li a {
  color: rgb(172, 172, 172);
  text-decoration: none;
  margin-bottom: 1.5%;
  display: inline-block;
}

.quickLinks ul li a:hover {
  color: #fff;
}

.contact {
  width: calc(35% - 6%);
  margin-right: 0 !important;
}

.contact .info {
  position: relative;
  font-size: 15px;
}

.contact .info li {
  display: flex;
  margin-bottom: 2%;
}

.contact .info li span:nth-child(1) {
  color: #fff;
  font-size: 18px;
  margin-right: 4%;
}

.contact .info li span {
  color: #999;
}

.contact .info li span a {
  color: #999;
}

.contact .info li p a {
  text-decoration: none;
  color: #999;
}

.contact .info li p a:hover {
  color: #fff;
}
