<!DOCTYPE html>
<html>
  <head>
    <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
    crossorigin="anonymous"
  />
    <title>GONGDAL</title>
    <link rel="stylesheet" type="text/css" href="../statics/stylesheets/style.css" />
    <link rel="stylesheet" type="text/css" href="../statics/stylesheets/page1.css" />
    <link rel="stylesheet" type="text/css" href="../statics/stylesheets/page2.css" />
  </head>

  <body>
    <header>
      <a href="#" class="logo">GONGDAL</a>
      <ul>
        <li><a href="page1.html" target="" title="">HOME</a></li>
        <li><a href="page4.html" target="" title="">CONTEST</a></li>
        <li><a href="page2.html" class = "active" target="" title="">SCHEDULE</a></li>
        <li><a href="page5.html" target="" title="">PORTFOLIO</a></li>
      </ul>
    </header>
    <section>
      <img src="../statics/icons/stars.png" id="stars" />
      <img src="../statics/icons/moon.png" id="moon" />
      <img src="../statics/icons/mountains_behind.png" id="mountains_behind" />
      <h2 id="text">with GONDAL</h2>
      <a href="#sec" id="btn">EXPLORE</a>
      <img src="../statics/icons/mountains_front.png" id="mountains_front" />
    </section>
    <div class="sec" id="sec">
 
      <div class="navigator" id = "side-bar" style="display: none;">
        <div class="user">
          <img class="user_icon" src="../statics/icons/user-img.png">
          <div class="user_text">
            <div class="user_text1">
              USER #1354<br>
            </div>
            <div class="user_text2">
              interested in ~
            </div>
          </div>
        </div>
        <div class="sortby">
          <ul>
            <li>SORT BY
          <li ><button type="button" onclick="sortbtn('all');" class="sortby2" id = "allbtn">ALL</button>
          <li ><button type="button" onclick="sortbtn('c');" id = "contestbtn" class="sortby1">CONTEST</button>
          <li ><button type="button" onclick="sortbtn('m'); " id = "midtermbtn" class="sortby1">MIDTERM</button>
          </ul>
        </div>
        <div class="date">
          DATE<br>
          <button type="button" class="date1" onclick="sortbtn('sort1');">
            <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="11" cy="11" r="11" fill="#DDC8EE"/>
              </svg>
            &nbsp&nbsp 2021. 01 ~ 2021. 12
          </button>
          <button type="button" class="date1" onclick="sortbtn('sort2');">
            <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="11" cy="11" r="11" fill="#D6E2EF"/>
              </svg>
            &nbsp&nbsp 2021. 01 ~ 2021. 12
          </button>
          <button type="button" class="date1" onclick="sortbtn('sort3');">
            <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="11" cy="11" r="11" fill="#F3C0C0"/>
              </svg>
            &nbsp&nbsp 2021. 01 ~ 2021. 12
          </button>
          <button type="button" class="date1" onclick="sortbtn('m');">
              <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="11" cy="11" r="11" fill="#A8EFC6"/>
                </svg>
            &nbsp&nbsp 2021. 01 ~ 2021. 12
          </button>
        </div>
      </div>
    
    <div class="schedule_body">
        <div class="schedule_button">
          <a href = "page4.html">
          <img src="../statics/icons/sch_butt.svg">
        </a>
        <a href = "page3.html">
          <div class="schedule_button1">
            <img src="../statics/icons/sch_butt1.svg">
            <img src="../statics/icons/sch_butt2.svg">
          </div>
          </a>
        </div>
        
      <h1 style="color: #FFF;">SCHEDULE</h1>
        <div class="calendar_body">
          <table class="calendar" width="1130" height="500">   
            <tr>
              <th>    </th>
              <th>SUN</th>
              <th>MON</th>
              <th>TUE</th>
              <th>WED</th>
              <th>THU</th>
              <th>FRI</th>
              <th>SAT</th>
            </tr>
    
              <tr id = "content_contest1">
                <td bgcolor="F5F5F5">SW supporters</td><td></td><td></td><td></td><td></td><td></td><td></td><td colspan="1" bgcolor="#DDC8EE"></td>
              </tr>
              <tr id = "content_contest2">
                <td bgcolor="F5F5F5">NEXT local</td><td></td><td></td><td colspan="5" bgcolor="#D6E2EF"></td>
              </tr>
              <tr id = "content_contest3">
                <td bgcolor="F5F5F5">LG challengers</td><td></td><td colspan="3" bgcolor="#F3C0C0"></td><td></td><td></td><td></td>
              </tr>
    
    
              <tr id = "content_midterm"><td bgcolor="F5F5F5">MIDTERM</td><td></td><td></td><td></td><td></td><td colspan="3" bgcolor="#A8EFC6"></td></tr>
    
            </table>
    
        </div>
  </div>
</div>
    <div class="body4">
      <footer>
        <div class="container">
          <div class="sect aboutus">
            <h2>About Us</h2>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit
              possimus, cupiditate ipsam labore qui quidem accusamus
              consequuntur ad voluptate odio obcaecati, delectus animi
              distinctio blanditiis molestias ab ea reprehenderit vitae?
            </p>
            <ul class="sci">
              <li>
                <a href="#"
                  ><i class="fa fa-facebook" aria-hidden="true"></i
                ></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
              </li>
              <li>
                <a href="#"
                  ><i class="fa fa-instagram" aria-hidden="true"></i
                ></a>
              </li>
              <li>
                <a href="#"
                  ><i class="fa fa-youtube-play" aria-hidden="true"></i
                ></a>
              </li>
            </ul>
          </div>
          <div class="sect quickLinks">
            <h2>Quick Links</h2>
            <ul>
              <li><a href="home.html">HOME</a></li>
              <li><a href="contest.html">CONTEST</a></li>
              <li><a href="schedule.html">SCHEDULE</a></li>
              <li><a href="portfolio.html">PORTFOLIO</a></li>
            </ul>
          </div>
          <div class="sect contact">
            <h2>Contact Info</h2>
            <ul class="info">
              <li>
                <span><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                <span
                  >Ewha Womans University<br />
                  Ahyeon-dong, Seodaemun-gu, <br />Seoul</span
                >
              </li>
              <li>
                <span><i class="fa fa-phone" aria-hidden="true"></i></span>
                <p>
                  <a href="tel:123456789">+1 234 567 8900</a><br /><a
                    href="tel:123456789"
                    >+1 234 567 8900</a
                  >
                </p>
              </li>
              <li>
                <span><i class="fa fa-envelope" aria-hidden="true"></i></span>
                <p><a href="mailto:gongdal@email.com">gongdal@email.com</a></p>
              </li>
            </ul>
          </div>
        </div>
      </footer>

    <script>
      let stars = document.getElementById("stars");
      let moon = document.getElementById("moon");
      let mountains_behind = document.getElementById("mountains_behind");
      let text = document.getElementById("text");
      let btn = document.getElementById("btn");
      let mountains_front = document.getElementById("mountains_front");
      let header = document.querySelector("header");

      window.addEventListener("scroll", function () {
        let value = window.scrollY;
        console.log("dlsfiejf : "+value);
        stars.style.left = value * 0.35 + "px";
        moon.style.top = value * 0.95 + "px";
        mountains_behind.style.top = value * 0.5 + "px";
        mountains_front.style.top = value * 0 + "px";
        text.style.marginRight = value * 2 + "px";
        text.style.marginTop = value * 1 + "px";
        btn.style.marginTop = value * 1 + "px";
        header.style.top = value * 0.5 + "px";
        var side = document.getElementById('side-bar');
        if(value <= 1500 && value >= 1200){
          side.style.display = "block";
        }else{
          side.style.display = "none";
        }
      });
    </script>






<script>
  function sortbtn(a){
    console.log("asdkjfoeijfl");
    var obj = a;
    console.log(a+'skjelfd');
    var contest1 = document.getElementById("content_contest1");
    var contest2 = document.getElementById("content_contest2");
    var contest3 = document.getElementById("content_contest3");
    var midterm = document.getElementById("content_midterm");

    var allbtn = document.getElementById("allbtn");
    var contestbtn = document.getElementById("contestbtn");
    var midtermbtn = document.getElementById("midtermbtn");

    contest1.style.display = "none";
    contest2.style.display = "none";
    contest3.style.display = "none";
    midterm.style.display = "none";

    if(allbtn.classList.contains("sortby2")){
      allbtn.classList.remove("sortby2")
      allbtn.classList.add("sortby1")
    }
    if(contestbtn.classList.contains("sortby2")){
      contestbtn.classList.remove("sortby2")
      contestbtn.classList.add("sortby1")
    }
    if(midtermbtn.classList.contains("sortby2")){
      midtermbtn.classList.remove("sortby2")
      midtermbtn.classList.add("sortby1")
    }

    if(a == 'all'){
      console.log(a);
      allbtn.classList.remove("sortby1");
      allbtn.classList.add("sortby2");
    contest1.style.display = "table-row";
    contest2.style.display = "table-row";
    contest3.style.display = "table-row";
    midterm.style.display = "table-row";
    }  
    else if(a == 'c'){
      console.log(a);
      contestbtn.classList.remove("sortby1");
      contestbtn.classList.add("sortby2");
    contest1.style.display = "table-row";
    contest2.style.display = "table-row";
    contest3.style.display = "table-row";
    }
    else if(a == 'm'){
      console.log(a);
      midtermbtn.classList.remove("sortby1");
      midtermbtn.classList.add("sortby2");
    midterm.style.display = "table-row";
    }
    else if(a == 'sort1'){
      console.log(a);
      contestbtn.classList.remove("sortby1");
      contestbtn.classList.add("sortby2");
    contest1.style.display = "table-row";
    }
    else if(a == 'sort2'){
      console.log(a);
      contestbtn.classList.remove("sortby1");
      contestbtn.classList.add("sortby2");
    contest2.style.display = "table-row";
    }
    else if(a == 'sort3'){
      console.log(a);
      contestbtn.classList.remove("sortby1");
      contestbtn.classList.add("sortby2");
    contest3.style.display = "table-row";
    }
  }

</script>
</body>
</html>