<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <title>GONGDAL</title>
    <link rel="stylesheet" type="text/css" href="../statics/stylesheets/style.css" />
    <link rel="stylesheet" type="text/css" href="../statics/stylesheets/page1.css" />
    <link rel="stylesheet" type="text/css" href="../statics/stylesheets/page4.css" />
  </head>

  <body>
    <header>
      <a href="#" class="logo">GONGDAL</a>
      <ul>
        <li><a href="page1.html" target="" title="">HOME</a></li>
        <li><a href="page4.html" target="" class = "active" title="">CONTEST</a></li>
        <li><a href="page2.html" target="" title="">SCHEDULE</a></li>
        <li><a href="page5.html" target="" title="">PORTFOLIO</a></li>
      </ul>
    </header>
    <section>
      <img src="../statics/icons/stars.png" id="stars" />
      <img src="../statics/icons/moon.png" id="moon" />
      <img src="../statics/icons/mountains_behind.png" id="mountains_behind" />
      <h2 id="text">with GONDAL</h2>
      <a href="#sec" id="btn">EXPLORE</a>
      <img src="../statics/icons/mountains_front.png" id="mountains_front" />
    </section>
    <div class="sec" id="sec">
   
<div class = "wrapper">
  <div class="content">
    <div class = "content-title-wrap">
      <div class = "content-title">
        <span>COMPARING BOARD</span>
      </div>
    </div>

    <div class = "wrapper">
      <div class = "brand-btn-bar"> 
        <div class = "brand-line"></div>
          <div class = "brand-btn-zone">
            <div class = "brand-btn">
              <img src  = "../statics/icons/logo_samsung.png" />
            </div>
            <div class = "brand-btn">
              <img src  = "../statics/icons/logo_samsung.png" />
            </div>
            <div class = "brand-btn">
              <img src  = "../statics/icons/logo_samsung.png" />
            </div>
            <div class = "brand-btn">
              <img src  = "../statics/icons/logo_samsung.png" />
            </div>
          </div>
        <div class = "brand-line"></div>
      </div>
    </div>
  <div class = "wrapper">
    <div class = "brand-list">
      <div class = "brand-list-index">
        <span>NEEDED TIME</span>
        <span>RANK</span>
      </div>
      <div class = "list-line"></div>
      <div class = "list-box">
        <div class = "rank gold">1</div>
        <div class = "contest-img">
          <img src  = "../statics/icons/swsupporters.png" />
        </div>
        <div class = "contest-info">
          <div class = "contest-name">SW SUPPORTES</div>
          <div class = "contest-detail">SW Company<br>
            05.12 - 06.06</div>
        </div>
        <div class = "contest-time">MIN. 4H ~ MAX 6H</div>
        <div class = "contest-rank">
          <img src  = "../statics/icons/rankUp.png" />
          <span>3</span>
        </div>
      </div>
      <div class = "list-line"></div>
      <div class = "list-box">
        <div class = "rank silver">2</div>
        <div class = "contest-img">
          <img src  = "../statics/icons/swsupporters.png" />
        </div>
        <div class = "contest-info">
          <div class = "contest-name">SW SUPPORTES</div>
          <div class = "contest-detail">SW Company<br>
            05.12 - 06.06</div>
        </div>
        <div class = "contest-time">MIN. 4H ~ MAX 6H</div>
        <div class = "contest-rank">
          <img src  = "../statics/icons/rankUp.png" />
          <span>3</span>
        </div>
      </div>

      <div class = "list-line"></div>
      <div class = "list-box">
        <div class = "rank bronze">3</div>
        <div class = "contest-img">
          <img src  = "../statics/icons/swsupporters.png" />
        </div>
        <div class = "contest-info">
          <div class = "contest-name">SW SUPPORTES</div>
          <div class = "contest-detail">SW Company<br>
            05.12 - 06.06</div>
        </div>
        <div class = "contest-time">MIN. 4H ~ MAX 6H</div>
        <div class = "contest-rank">
          <img src  = "../statics/icons/rankUp.png" />
          <span>3</span>
        </div>
      </div>
      <div class = "list-line"></div>
      <div class = "list-box">
        <div class = "rank">4</div>
        <div class = "contest-img">
          <img src  = "../statics/icons/swsupporters.png" />
        </div>
        <div class = "contest-info">
          <div class = "contest-name">SW SUPPORTES</div>
          <div class = "contest-detail">SW Company<br>
            05.12 - 06.06</div>
        </div>
        <div class = "contest-time">MIN. 4H ~ MAX 6H</div>
        <div class = "contest-rank">
          <img src  = "../statics/icons/rankUp.png" />
          <span>3</span>
        </div>
      </div>
      <div class = "list-line"></div>
      <div class = "list-box">
        <div class = "rank">5</div>
        <div class = "contest-img">
          <img src  = "../statics/icons/swsupporters.png" />
        </div>
        <div class = "contest-info">
          <div class = "contest-name">SW SUPPORTES</div>
          <div class = "contest-detail">SW Company<br>
            05.12 - 06.06</div>
        </div>
        <div class = "contest-time">MIN. 4H ~ MAX 6H</div>
        <div class = "contest-rank">
          <img src  = "../statics/icons/rankUp.png" />
          <span>3</span>
        </div>
      </div>
      <div class = "list-line"></div>

    </div>
  </div>
</div>
    </div>
  </div>
    <div class="body4">
      <footer>
        <div class="container">
          <div class="sect aboutus">
            <h2>About Us</h2>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit
              possimus, cupiditate ipsam labore qui quidem accusamus
              consequuntur ad voluptate odio obcaecati, delectus animi
              distinctio blanditiis molestias ab ea reprehenderit vitae?
            </p>
            <ul class="sci">
              <li>
                <a href="#"
                  ><i class="fa fa-facebook" aria-hidden="true"></i
                ></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
              </li>
              <li>
                <a href="#"
                  ><i class="fa fa-instagram" aria-hidden="true"></i
                ></a>
              </li>
              <li>
                <a href="#"
                  ><i class="fa fa-youtube-play" aria-hidden="true"></i
                ></a>
              </li>
            </ul>
          </div>
          <div class="sect quickLinks">
            <h2>Quick Links</h2>
            <ul>
              <li><a href="home.html">HOME</a></li>
              <li><a href="contest.html">CONTEST</a></li>
              <li><a href="schedule.html">SCHEDULE</a></li>
              <li><a href="portfolio.html">PORTFOLIO</a></li>
            </ul>
          </div>
          <div class="sect contact">
            <h2>Contact Info</h2>
            <ul class="info">
              <li>
                <span><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                <span
                  >Ewha Womans University<br />
                  Ahyeon-dong, Seodaemun-gu, <br />Seoul</span
                >
              </li>
              <li>
                <span><i class="fa fa-phone" aria-hidden="true"></i></span>
                <p>
                  <a href="tel:123456789">+1 234 567 8900</a><br /><a
                    href="tel:123456789"
                    >+1 234 567 8900</a
                  >
                </p>
              </li>
              <li>
                <span><i class="fa fa-envelope" aria-hidden="true"></i></span>
                <p><a href="mailto:gongdal@email.com">gongdal@email.com</a></p>
              </li>
            </ul>
          </div>
        </div>
      </footer>

    <script>
      let stars = document.getElementById("stars");
      let moon = document.getElementById("moon");
      let mountains_behind = document.getElementById("mountains_behind");
      let text = document.getElementById("text");
      let btn = document.getElementById("btn");
      let mountains_front = document.getElementById("mountains_front");
      let header = document.querySelector("header");

      window.addEventListener("scroll", function () {
        let value = window.scrollY;
        stars.style.left = value * 0.35 + "px";
        moon.style.top = value * 0.95 + "px";
        mountains_behind.style.top = value * 0.5 + "px";
        mountains_front.style.top = value * 0 + "px";
        text.style.marginRight = value * 2 + "px";
        text.style.marginTop = value * 1 + "px";
        btn.style.marginTop = value * 1 + "px";
        header.style.top = value * 0.5 + "px";
      });
    </script>
  </body>
</html>

