  <!DOCTYPE html>
    <html>
      <head>
        <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
        crossorigin="anonymous"
      />
        <title>GONGDAL</title>
        <link rel="stylesheet" type="text/css" href="../statics/stylesheets/style.css" />
        <link rel="stylesheet" type="text/css" href="../statics/stylesheets/page1.css" />
        <link rel="stylesheet" type="text/css" href="../statics/stylesheets/page3.css" />
        <!-- <link rel="stylesheet" type="text/css" href="../statics/stylesheets/styleguide.css" /> -->
        <!-- <link rel="stylesheet" type="text/css" href="../statics/stylesheets/globals.css" /> -->
      </head>
    
      <body>
        <header>
          <a href="#" class="logo">GONGDAL</a>
          <ul>
            <li><a href="page1.html" target="" title="">HOME</a></li>
            <li><a href="page4.html" target="" class = "active" title="">CONTEST</a></li>
            <li><a href="page2.html" target="" title="">SCHEDULE</a></li>
            <li><a href="page5.html" target="" title="">PORTFOLIO</a></li>
          </ul>
        </header>

        <div class="sec" id="sec">
    <div class="container-center-horizontal">
      <div class="page-3 screen">
        <div class="x0345-user2-edited-schedule notosans-normal-black-18px">
          03:45<br />User2 edited schedule
        </div>
        <div class="x0216-user3-edited-schedule notosans-normal-black-18px">
          02:16<br />User3 edited schedule
        </div>
        <div class="x0534-user1-edited-schedule notosans-normal-black-18px">
          05:34<br />User1 edited schedule
        </div>

        <div class="user-title">USER</div>
        <div class="interested-in-">Interested in ~</div>
        <div class="x1354">#1354</div>
        <div class="user1 notosans-normal-black-16px">USER1</div>
        <div class="user2 notosans-normal-black-16px">USER2</div>
        <div class="user3 notosans-normal-black-16px">USER3</div>
        <div class="member">MEMBER</div>
        <div class="x0519 notosans-normal-black-18px">05.19</div>
        <div class="x0520 notosans-normal-black-18px">05.20</div>
        <img class="image-20" src="../statics/icons/image-20@2x.png" />
        <img class="image-22" src="../statics/icons/image-22@2x.png" />
        <img class="image-23" src="../statics/icons/image-23@2x.png" />
        <img class="image-24" src="../statics/icons/image-24@2x.png" />
        <div class="history">HISTORY</div>
        <div class="ellipse-11"></div>
        <div class="ellipse-14"></div>
        <div class="ellipse-15"></div>
        <div class="rectangle-50"></div>
        <img class="rectangle-51" src="../statics/icons/rectangle-51@2x.svg" />
        <div class="x3">3</div>
        <div class="number-of-contests notosans-semi-bold-black-18px">Number of Contests</div>
        <div class="edit">EDIT</div>
        <div class="rectangle-52"></div>
        <div class="x18">18</div>
        <div class="needed-time notosans-semi-bold-black-18px">Needed Time</div>
        <div class="h notosans-semi-bold-black-18px">h</div>
        <img class="image-34" src="../statics/icons/image-34@2x.png" />
        <div class="schedule-1">SCHEDULE</div>
        <img class="rectangle-59" src="../statics/icons/rectangle-59@1x.svg" />
        <div class="month1 notosans-semi-bold-white-18px">
          <span class="span0-1 notosans-semi-bold-black-18px">MONTH</span><span class="span1-1">1</span>
        </div>
        <div class="month2 notosans-semi-bold-white-18px">
          <span class="span0-2 notosans-semi-bold-black-18px">MONTH</span><span class="span1-2">2</span>
        </div>
        <div class="month3 notosans-semi-bold-white-18px">
          <span class="span0-3 notosans-semi-bold-black-18px">MONTH</span><span class="span1-3">3</span>
        </div>
        <div class="month4 notosans-semi-bold-white-18px">
          <span class="span0-4 notosans-semi-bold-black-18px">MONTH</span><span class="span1-4">4</span>
        </div>
        <img class="rectangle-56" src="../statics/icons/rectangle-56@1x.svg" />
        <img class="rectangle-57" src="../statics/icons/rectangle-57@1x.svg" />
        <img class="rectangle-58" src="../statics/icons/rectangle-58@1x.svg" />
        <img class="rectangle-42" src="../statics/icons/rectangle-42@1x.svg" />
        <img class="rectangle-43" src="../statics/icons/rectangle-43@1x.svg" />
        <img class="rectangle-44" src="../statics/icons/rectangle-44@1x.svg" />
        <img class="rectangle-45" src="../statics/icons/rectangle-45@2x.svg" />
        <div class="ellipse-16"></div>


        <div class="to-do-list-1 notosans-semi-bold-mine-shaft-15px">TO DO LIST</div>
        <div class="draft-document-pre-exploration-1 notosans-normal-masala-13px">
          Draft Docs<br />pre-exp
        </div>
        <div class="ellipse-1"></div>
        <div class="to-do-list-3 notosans-semi-bold-mine-shaft-15px">TO DO LIST</div>
        <div class="draft-document-pre-exploration-3 notosans-normal-masala-13px">
          Draft Docs<br />pre-exp
        </div>
        <div class="ellipse-2"></div>
        <div class="to-do-list-4 notosans-semi-bold-mine-shaft-15px">TO DO LIST</div>
        <div class="draft-document-pre-exploration-4 notosans-normal-masala-13px">
          Draft Docs<br />pre-exp
        </div>
        <div class="ellipse-3"></div>
        <div class="to-do-list-2 notosans-semi-bold-mine-shaft-15px">TO DO LIST</div>
        <div class="draft-document-pre-exploration-2 notosans-normal-masala-13px">
          Draft Docs<br />pre-exp
        </div>
      
      </div>
    </div>
  </div>
</div>
  <div class="body4">
    <footer>
      <div class="container">
        <div class="sect aboutus">
          <h2>About Us</h2>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit
            possimus, cupiditate ipsam labore qui quidem accusamus
            consequuntur ad voluptate odio obcaecati, delectus animi
            distinctio blanditiis molestias ab ea reprehenderit vitae?
          </p>
          <ul class="sci">
            <li>
              <a href="#"
                ><i class="fa fa-facebook" aria-hidden="true"></i
              ></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            </li>
            <li>
              <a href="#"
                ><i class="fa fa-instagram" aria-hidden="true"></i
              ></a>
            </li>
            <li>
              <a href="#"
                ><i class="fa fa-youtube-play" aria-hidden="true"></i
              ></a>
            </li>
          </ul>
        </div>
        <div class="sect quickLinks">
          <h2>Quick Links</h2>
          <ul>
            <li><a href="home.html">HOME</a></li>
            <li><a href="contest.html">CONTEST</a></li>
            <li><a href="schedule.html">SCHEDULE</a></li>
            <li><a href="portfolio.html">PORTFOLIO</a></li>
          </ul>
        </div>
        <div class="sect contact">
          <h2>Contact Info</h2>
          <ul class="info">
            <li>
              <span><i class="fa fa-map-marker" aria-hidden="true"></i></span>
              <span
                >Ewha Womans University<br />
                Ahyeon-dong, Seodaemun-gu, <br />Seoul</span
              >
            </li>
            <li>
              <span><i class="fa fa-phone" aria-hidden="true"></i></span>
              <p>
                <a href="tel:123456789">+1 234 567 8900</a><br /><a
                  href="tel:123456789"
                  >+1 234 567 8900</a
                >
              </p>
            </li>
            <li>
              <span><i class="fa fa-envelope" aria-hidden="true"></i></span>
              <p><a href="mailto:gongdal@email.com">gongdal@email.com</a></p>
            </li>
          </ul>
        </div>
      </div>
    </footer>

  <script>
    let stars = document.getElementById("stars");
    let moon = document.getElementById("moon");
    let mountains_behind = document.getElementById("mountains_behind");
    let text = document.getElementById("text");
    let btn = document.getElementById("btn");
    let mountains_front = document.getElementById("mountains_front");
    let header = document.querySelector("header");

    window.addEventListener("scroll", function () {
      let value = window.scrollY;
      stars.style.left = value * 0.35 + "px";
      moon.style.top = value * 0.95 + "px";
      mountains_behind.style.top = value * 0.5 + "px";
      mountains_front.style.top = value * 0 + "px";
      text.style.marginRight = value * 2 + "px";
      text.style.marginTop = value * 1 + "px";
      btn.style.marginTop = value * 1 + "px";
      header.style.top = value * 0.5 + "px";
    });
  </script>


  </body>
</html>
